@model IEnumerable<ThirstBurst.Models.Variants>
@inject SignInManager<IdentityUser> SignInManager
       @inject UserManager<IdentityUser> UserManager
       @using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin") && SignInManager.IsSignedIn(User))
{
    <p>
    <a asp-action="Create">Create New</a>
</p>}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Variant_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.V_Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Variant_Name)
            </td>
            <td>
               <img  style="width:100px;height:100px;border-radius:50%;" src=" @Html.DisplayFor(modelItem => item.V_Image)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_Date)
            </td>
            <td>
                @if (User.IsInRole("Admin") && SignInManager.IsSignedIn(User))
                {
                <a asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-edit"></span></a>  
                <a asp-action="Details" asp-route-id="@item.Id"><span style="color:red;" class="fa fa-info"></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><span style="color:red;" class="fa fa-trash"></span></a>
               
                }
                </td>
        </tr>
}
    </tbody>
</table>
