@model ThirstBurst.Models.Company

@{
    ViewData["Title"] = "Delete";
}

@{List<Drink> drinks = ViewData["Drinks"] as List<Drink>; }

@if (drinks.Count() == 0)
{

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            <img  style="width:100px;height:100px;border-radius:50%;" src="@Html.DisplayFor(model => model.Logo)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
}
else
{
    <h5 class="bg-warning" style="padding:5px; text-align:center;">Sorry! We cannot delete this Company because it is registered as a Company of Drink(s)</h5>
    <table style="text-align:center;">
        <thead>
            <tr>
                <th>Drink Name</th>
                <th>Drink Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drink in drinks)
            {
                    if (drink.CompanyId == Model.Id)
                    {
                        <tr>
                            <td style="width:200px;">@drink.Name</td>
                            <td><img style="width:200px;" src="@drink.Image_url" alt="@drink.Name" /></td>
                        </tr>
                    }
                
            }
        </tbody>
    </table>
    <h5 class="bg-primary" style="padding:5px; text-align:center;">Please delete/update these drinks before deletion of Company.</h5>
}
