@model IEnumerable<ThirstBurst.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
               <img style="width:100px;height:100px;border-radius:50%;" src="@Html.DisplayFor(modelItem => item.Logo)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><span style="color: green;" class="fa fa-edit"></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><span style="color:red;" class="fa fa-info"></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><span style="color:red;" class="fa fa-trash"></a>
            </td>
        </tr>
}
    </tbody>
</table>
